<!DOCTYPE html>
<html>
<head>
  <title>Missing People</title>
  <script src="https://use.fontawesome.com/7804028f12.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="main_navigation" class="clearfix">
  <%= link_to "Missing People", root_path, class: "name" %>
  <nav>
    <%= link_to "People Data", people_path %>
    <a href="#">Contact</a>
  </nav>
</header>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert%>
    <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>


<footer id="main_footer">
  <p class="copyright">&copy;2016 Kode Ruby</p>
  <nav>
    <a href="#"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>

  </nav>
</footer>


</body>
</html>
